html {
  font-family: "Merriweather", sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}

#start-banner {
  height: 100vh;
}
#start-banner .valign-wrapper {
  height: 100%;
}
#start-banner #get-started-icon i {
  color: white;
  font-size: 48px;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

#quito {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}
#quito .day-card {
  margin-left: auto;
  margin-right: auto;
}

#day-list {
  /*    display: flex;
    flex-flow: row wrap;
    width: 90%;*/
  padding: 0.5rem 0.5rem 0 0.5rem;
}
#day-list .card-wrap {
  padding: 0px 0.5rem;
}
#day-list .card {
  /*//    height: 500px;*/
  /*width: 30%;*/
  float: left;
  /*margin: 8px;*/
  /*    padding-left: 0;
      padding-right: 0;
      margin: 0px 0.75rem;*/
}
#day-list .card-title {
  line-height: inherit;
  font-size: 18px;
}
#day-list .loading {
  height: 32px;
  width: 32px !important;
  margin-left: auto;
  margin-right: auto;
}

.card .card-image .loading {
  width: 32px;
  height: 32px;
}

.map {
  clear: left;
  height: 800px;
}

#map-from-roc {
  margin: 15px 0;
}

.stations {
  position: absolute;
}
.stations svg {
  width: 60px;
  height: 20px;
  padding-right: 100px;
  font: 10px sans-serif;
  position: absolute;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}
.stations circle {
  fill: brown;
  stroke: black;
  stroke-width: 1.5px;
}

footer.page-footer {
  margin-top: 0;
  padding-bottom: 15px;
}
