$color: purple;

body {
//  background-color : $color !important;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

#map {
  height: 800px;
}

.stations {
  position: absolute;

  svg {
    width: 60px;
    height: 20px;
    padding-right: 100px;
    font: 10px sans-serif;
    position: absolute;
    box-sizing: content-box;
  }
  circle {
    fill: brown;
    stroke: black;
    stroke-width: 1.5px;
  }
}
