$primary-color: color("materialize-green") !default;
$heading-font: 'Raleway', sans-serif;
$body-font: 'Merriweather', sans-serif;

html {
  font-family: $body-font;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $heading-font;
  font-weight: 700;
}

#start-banner {
  height: 100vh;

  .valign-wrapper {
    height: 100%;
  }

  #get-started-icon i {
    color: white;
    font-size: 48px;
  }
}

nav ul a,
nav .brand-logo {
  color: #444;
}

//.range-field {
//  z-index: 10;
//
//  #timeline-range {
//    width: 50px;
//  }
//}

//input[type=range][orient=vertical] {
//    writing-mode: bt-lr; /* IE */
//    -webkit-appearance: slider-vertical; /* WebKit */
//}

#quito {
  display: flex;
  align-items: center;

  .day-card {
    margin-left: auto;
    margin-right: auto;
  }
}

#day-list {
/*    display: flex;
  flex-flow: row wrap;
  width: 90%;*/
  padding: 0 0.5rem;
  .card-wrap {
    padding: 0px 0.5rem;
  }
  .card {
/*//    height: 500px;*/
    //width: 400px;
    /*width: 30%;*/
    float: left;
    /*margin: 8px;*/
/*    padding-left: 0;
    padding-right: 0;
    margin: 0px 0.75rem;*/
  }
  .card-title {
    line-height: inherit;
    font-size: 18px;
  }
  .loading {
    height: 32px;
    width: 32px !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.card .card-image .loading {
  width: 32px;
  height: 32px;
}



.map {
  clear: left;
  height: 800px;
}

#map-from-roc {
  margin: 15px 0;
}

.stations {
  position: absolute;

  svg {
    width: 60px;
    height: 20px;
    padding-right: 100px;
    font: 10px sans-serif;
    position: absolute;
    box-sizing: content-box;
  }
  circle {
    fill: brown;
    stroke: black;
    stroke-width: 1.5px;
  }
}

footer.page-footer {
  margin-top: 0;
  padding-bottom: 15px;
}
